<div class="jumbotron center">
     <h1>frozen pint!</h1>
     get to post your own pin-ups and let the rest catch up with you
 
  <p>
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
   
</div>