<!DOCTYPE html>
<html>
<head>
  <title>Pint</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<%= render 'layouts/header' %>
 <div class="container">
 <% flash.each do |name, msg| %> 
 <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>
          <%= yield %> 
     </div>
</body>

</html>
